[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.2"
psycopg2-binary = "2.9.9"
pillow = "11.0.0"

[dev-packages]

[requires]
python_version = "3.12"
